@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/imageBg.png");
    color: white;
}



.container {
    margin: 0em 4em;
}

.header {
    display: flex;
    padding-top: 0.5em;
    margin-bottom: 2.5em;
}

.menuHeader {
    list-style: none;
    display: flex;
    gap: 2em;
    font-weight: bolder;
}

.b1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15em;
}

.logoHeader {
    width: 5%;
}

.b2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.b2 input {
    width: 12em;
    height: 2.3em;
    border-radius: 0.6em;
    padding: 0 0.2em;
    border: none;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20em;
    align-items: center;
}

p {
    margin-bottom: 0.5em;
    text-align: left;
    text-justify: auto;
}

.description-character,
.koren-name-character {
    font-weight: lighter;
    margin-bottom: 0.7em;
}

.name-character{
    font-weight: bolder;
    font-size: 2.5em;
}

.foto-character {
    width: 100%;
}

.list-navigation li {
    display: flex;
    list-style: none;
    margin-bottom: 0.5em;
    border: 1px solid white;
}


.foto-main {
    width: 33%;
    top: 0;
    bottom: 0;
    margin-left: 72em;
    position: absolute;
}

.border {
    padding: 1em 0em;
}